body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    overflow-x:hidden;
}
*{
}
a{
    color: #fff;
    text-decoration: none;
}
/* ----------------------HEADER START--------------------- */
.container{
    margin:  0  auto;
    padding: 0 15px;
    max-width: 1168px;
}


.header{
    position: absolute;
    background: #52503B;

    height: 80px;
    width: 100%;
    z-index: 5;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 720px; */
}
.logo{
    margin: 17px;
}
.nav{
}
.nav__items{
    display: flex;
    justify-content: space-between;
    width: 253px;
}
.button{
    display: flex;
    background: #FFFFFF;
    border-radius: 6px;
    width: 117px;
    height: 42px;
    color: #52503B;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
/* ----------------------HEADER END--------------------- */



.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/back-ground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.header-content__content{
    max-width: 1200px;
    position: relative;
}
.header-content__logo{
    margin-top: 40px;
    text-align: center;
    padding-bottom: 34px;
}
.header-content__title{
    width: 1050px;
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: #fff;
    padding-bottom: 34px;
}

.header-content__subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-content__scroll{
    position: absolute;
    margin: 80px 500px;
}

/* -------------- BOOK------------------------- */

.book{
    background-color: #FAF8F0;
    width: 100%;
    height: 410px;
    position: relative;
    
}
.book__inner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 800px;
    height: 210px;
    margin: auto;
}
.orange-line{
    width: 42px;
    height: 8px;
    margin: 0 auto;
}
.book__inner-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 33px 16px;
}
.first-column{
    width: 300px;
    max-height: 120px;
}
.second-column{
    width: 300px;
    max-height: 120px;
}
.button-book{
    background: #52503B;
    color: #fff;
    margin-top: 41px;
    border: none;
}


/* -------------- DISCRIPTION---------------- */
.discription{
    height: 568px;
    position: relative;
}

.discription__inner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1200px;
    height: 288px;
    margin: auto;
}
.discription__text{
    padding-top: 32px;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #52503B;
}
.bg-interior{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/interier.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;

    
}


/* -----------arrangements---------------- */

.arrangements{
    background: #FAF8F0;
    height: 530px;
    position: relative;
}
.arrangements__inner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1200px;
    height: 330px;
    margin: auto;
    text-align: center;
}
.arrangements__title{
    padding: 33px 0 12px 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #52503B;
}
.arrangements__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
    width: 512px;
    margin: 0 auto;
}
.icon{
    padding-bottom: 12px;
}
.name{
    padding-bottom: 10px;
}
.arrangements__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
}
.arrangements__item{
    width: 370px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #52503B;
}

/* -------------advantages------------------ */

.advantages{
    height: 726px;
    position: relative;
}
.advantages__inner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1200px;
    max-height: 526px;
    margin: auto;
    text-align: center;
}
.advantages__inner-top{
    text-align: left;
    width: 600px;
    margin-bottom: 30px;
}
.orange-line-advantages{
    margin-left: 16px;
    margin-bottom: 30px;
}
.title{
    margin-left: 16px;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #52503B;
}
.subtitle{
    margin-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
}


.advantages__items{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vw;
    justify-content: start;
}

.img-item{
    margin-right: 16px;
}
.advantages__item{
    margin-left: 16px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    width: 460px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;color: #333333;
}
.img-item{
    width: 36px;
    height: 36px;
}
.text1{
    text-align: left;
}
.text2{
    text-align: left;
}

/* ------------COMENTS------------- */

.coments{
    height: 682px;
    background: #FAF8F0;
    position: relative;
}

.coments__inner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1200px;
    height: 432px;
    margin: auto;
    text-align: center;

}
.coments-orang{
    margin-bottom: 30px;
}
.coments__title{
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #52503B;
    margin-bottom: 12px;
}
.coments__subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
}


.slider{
    margin-top: 32px;
}
.slider__item{
    max-width: 5841168px;
    max-height: 266px;
    background-color: #fff;
    padding: 31px;
    margin: 10px;

}
.stars{
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
}

.item__text1{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    text-align: left;
    padding-bottom: 10px;
}

.item__text2{
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #333333;
    text-align: left;
    padding-bottom: 10px;
}

.last-text{
    display: flex;
    justify-content: left;
    align-items: center;
}
.last-text1{
    padding-left: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}




  /* ---------- castim slider arrows -----*/

.text-center li{
    margin-top: 104px;
      position: relative;
      float: left;
      margin-right: 20px
}
.paginator-center{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        margin-top: -60px;
}
.prev1 {
    display: block;
        height: 60px;
        width: 60px;
        background: url('/img/arrows\ left.png') no-repeat;
        cursor: pointer;
}
.next1 {
    display: block;
        height: 60px;
        width: 60px;
        background: url('/img/arrows\ right.png') no-repeat;
        cursor: pointer;
        padding-bottom: 104px;
}



/* --------------------- */

.interior2{

    background-image: url(/img/interior2.png);
   
}


/* -----------------------TOGETHER------- */


.together{
    width: 100vw;
    height: 366px;
    position: relative;
}

.together__inner{
    display: flex;
    max-width: 1168px;
    max-height: 166px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.inner-text{
    width: 552px;
    margin-right: 64px;
}
.together-line{
    margin-left: 0;
    margin-bottom: 30px;
}
.title-together{
    text-align: left;
    margin-left: 0;
    margin-bottom: 14px;

}

.subtitle-together{
    width: 514px;
    text-align: left;
    margin-left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
}



.items-inner{
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 2vw; */
    row-gap: 53px;
    column-gap: 52px;
    
    justify-content: start;
}
.together__item{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    max-height: 67px;
}
.together__item img{
    width: 36px;
    height: 36px;
    margin: auto 0;

}
.low-img img{
    width: 36px;
    height: 15px;
}


.item-text{
    padding-left: 16px;
    text-align: left;
    margin-left: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}


/* ----------BOOKING----------------- */

.booking{
    background-color: #FAF8F0;
    height: 478px;
    position: relative;
}

.booking__inner{

    position: absolute;
    top: 100px;
    right: 120px;
    left: 120px;
    bottom: 100px;
}

.booking__title{
    width: 533px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    margin: 0 auto;
    color: #52503B;
}
.booking__subtitle{
    width: 533px;
    padding-top: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    text-align: center;
    color: #52503B;
}

.booking__btn{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 19px;
}

.booking__btn button{
    background: #52503B;
    color: #FFFFFF;
    border: none;
}
.contact-btn{
    margin-right: 20px;
}
.contact-btn:hover{
    color: #52503B;
    background-color: #fff;
    border: 3px solid #52503B;
    cursor: pointer;
}
.book-btn:hover{
    color: #52503B;
    background-color: #fff;
    border: 3px solid #52503B;
    cursor: pointer;
}

/* ----------FOOTER------------------------ */


.footer{
    background: #52503B;
    color: #FFFFFF;
    height: 608px;
    position: relative;
}

.footer__inner{
    position: absolute;
    top: 100px;
    bottom: 100px;
    right: 136px;
    left: 136px;
}

.top-block{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    top: 100px;
    margin-bottom: 48px;
}

.top-pages p{
    text-transform: uppercase;
    margin-bottom: 11px;
}
.top-pages{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.top-pages li:not(:last-child){
    margin-bottom: 12px;
}
.top-pages li:hover{
    cursor: pointer;

    text-decoration: underline;
}
.social__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.social__items a:not(:last-child){
    margin-right: 20px;
}

.title-subscribe{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    bottom: 1px;
}

.discription-subscribe{
    width: 563px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.subscribe-form{
    width: 576px;
    height: 52px;
    position: relative;
}

.subscribe-form input{
    width: 576px;
    height: 52px;
    background: #F9FAFB;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    color: #52503B;
}

.btn-submit{
    position: absolute;
    left: 450px;
    top: 6px;
    color: #fff;
    background: #52503B;
    border: none;
}

.btn-submit:hover{
    color: #52503B;
    background: #fff;
    cursor: pointer;
    border: 3px solid #52503B;
}

input::-webkit-input-placeholder {
    padding-left: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #52503B;
}


.down-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer__logo{
    margin-bottom: 20px;
}

.footer__contacts{
    display: flex;
    margin-bottom: 20px;
}