body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}
*{
}
a{
    color: #fff;
    text-decoration: none;
}
/* ----------------------HEADER START--------------------- */
.container{
    margin:  0  auto;
    padding: 0 15px;
    max-width: 1083px;
}



.header{
    position: absolute;
    background: #52503B;
    height: 80px;
    width: 100%;
    z-index: 5;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin: 17px;
}
.nav{
}
.nav__items{
    display: flex;
    justify-content: space-between;
    width: 253px;
}
.button{
    display: flex;
    background: #FFFFFF;
    border-radius: 6px;
    width: 117px;
    height: 42px;
    color: #52503B;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
/* ----------------------HEADER END--------------------- */



.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/back-ground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.header-content__content{
    max-width: 1200px;
    position: relative;
}
.header-content__logo{
    margin-top: 40px;
    text-align: center;
    padding-bottom: 34px;
}
.header-content__title{
    width: 1050px;
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: #fff;
    padding-bottom: 34px;
}

.header-content__subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header-content__scroll{
    position: absolute;
    margin: 80px 500px;
}

/* -------------- BOOK------------------------- */

.book{
    background-color: #FAF8F0;
    width: 100%;
    height: 410px;
    position: relative;
    
}
.book__inner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 800px;
    height: 210px;
    margin: auto;
}
.orange-line{
    width: 42px;
    height: 8px;
    margin: 0 auto;
}
.book__inner-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 33px 16px;
}
.first-column{
    width: 300px;
    max-height: 120px;
}
.second-column{
    width: 300px;
    max-height: 120px;
}
.button-book{
    background: #52503B;
    color: #fff;
    margin-top: 41px;
    border: none;
}


/* -------------- DISCRIPTION---------------- */
.discription{
    height: 568px;
    position: relative;
}

.discription__inner{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1200px;
    height: 288px;
    margin: auto;
}
.discription__text{
    padding-top: 32px;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: #52503B;
}
.bg-interior{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* -----------arrangements---------------- */

.arrangements{
    background: #FAF8F0;
    height: 530px;
    position: relative;
}
.arrangements__inner{
    position: absolute;
    background-color: aqua;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1200px;
    height: 330px;
    margin: auto;
    text-align: center;
}
.arrangements__title{
    padding: 33px 0 12px 0;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #52503B;
}
.arrangements__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #52503B;
    width: 512px;
    margin: 0 auto;
}

.arrangements__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arrangements__item{
    width: 370px;
}
