body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}
a{
    color: #fff;
    text-decoration: none;
}
/* ----------------------HEADER START--------------------- */
.container{
    margin:  0  auto;
    padding: 0 15px;
    max-width: 1083px;
}


.header{
    background: #52503B;
    height: 80px;
    width: 100%;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin: 17px;
}
.nav{
}
.nav__items{
    display: flex;
    justify-content: space-between;
    width: 253px;
}
.button{
    display: flex;
    background: #FFFFFF;
    border-radius: 6px;
    width: 117px;
    height: 42px;
    color: #52503B;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
/* .nav{
    order: -1;
} */
/* ----------------------HEADER END--------------------- */
